<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/0f27892f85.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/script.js"></script>
</head>

<body>
	<!-- Semantic header -->
	<header class="header">
		<h1>Burger Logger</h1>
	</header>
	<!-- Semantic main body -->
	<main class="main">
		{{{ body }}}
	</main>

	<!-- Semantic footer -->
	<footer class="footer">
		<!-- div for social media -->
		<div class="copyright-social-media">
			<span><a href="https://github.com/chrisjmckeown/Burger/blob/master/LICENSE" target="_blank">&#169;
					2020</a> - Chris Mckeown - </span>
			<a href="https://www.linkedin.com/in/chrisjmckeown/" target="_blank"><i class="fab fa-linkedin"></i></a>
			<a href="https://twitter.com/ChrisMckeown6" target="_blank"><i class="fab fa-twitter-square"></i></a>
			<a href="https://www.facebook.com/christopher.j.mckeown.3" target="_blank"><i
					class="fab fa-facebook-square"></i></a>
			<a href="https://github.com/chrisjmckeown" target="_blank"> <i class="fab fa-github-square"></i></a>
		</div>
	</footer>
</body>

</html>