<div class="row">
    <div class="col40">
        <h1>Rename {{this.burger_name}} burger</h1>

        <form data-id="{{this.id}}" class="burger-rename">

            <div class="form-group">
                <label for="burger_name">Name:</label>
                <input type="text" id="burger_name" name="burger_name" value="{{this.burger_name}}">
            </div>

            <button type="submit">Update Burger</button>
        </form>
    </div>
</div>